.toggle-switch{
    width: 54px;
    height: 28px;
    border-radius: 1rem;
    background: #ccc;
    /* border: 2px solid gray; */
    padding: 5px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
}

.ball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    transition: all .3s;
}

#button-switch[type="checkbox"]:checked + .toggle-switch{
    background-color: var(--bs-blue);
}
#button-switch[type="checkbox"]:checked + .toggle-switch .ball{
    left: 55%;
}