<app-alert alert="Warning"></app-alert>

<main>
    <section class="login-image-section">
        <img src="http://localhost:3001/img/ranger.png" alt="">
    </section>
    <section class="login-form-section">
        <div class="welcome">
            <img class="form-logo" src="http://localhost:3001/img/ford.png" alt="form-logo" tabindex="-1">
            <h1 class="form-title">Boas-vindas</h1>
        </div>
        <div>
            <app-form (credentialEmitter)="login($event)" (autoLoginToggleEmitter)="changeAutoLogin($event)"></app-form>
        </div>
    </section>
</main>