

main{
    display: flex;
    flex-direction: row;
    height: 100dvh;
}

main section{
    flex: 1;
    height: auto;
    max-width: 50vw;
}

.login-image-section{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 90%;
        opacity: .8;
        transition: all 2s;
        &:hover{
            scale: 1.02;
            opacity: 1;
        }
    }
}

.login-form-section{
    background-color: #f6f6f6;
}


.welcome{
    width: 90%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    justify-content: space-around;
    align-items: center;
    .form-logo{
        max-width: 45%;
    }
}

.form-title{
    color: var(--bs-blue);
}

@media (max-height: 720px) {
    .welcome{
        gap: 10vh;
    }
}

@media (orientation: portrait){
    main{
        display: inline;
    }
    
    .login-image-section{
        width: 0;
        max-width: 0 !important;
        overflow: hidden;
    }

    .login-form-section{
        width: 100vw;
        min-width: 100vw;
        height: 100dvh;
        min-height: 100dvh;
        .welcome{
            width: 100%;
        }
    }
}

@media (min-width: 768px) { /* tablets médios */ }
@media (min-width: 1024px) { /* laptops */ }
@media (min-width: 1280px) { /* desktops grandes */ }
@media (min-width: 1536px) { /* telas ultra-wide */ }