<div class="sidebar-state-button" (click)="changeSidebarToggle()">
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
    </svg>      
</div>
<div class="sidebar-shadow" [ngClass]="sidebarToggle ? 'sidebar-shadow-open' : 'sidebar-shadow-closed'" (click)="changeSidebarToggle()"></div>
<section class="sidebar" [ngClass]="sidebarToggle ? 'sidebar-open' : 'sidebar-closed'">
    <div class="logo box">
        <img src="http://localhost:3001/img/ford.png" alt="">
    </div>
    <div *ngFor="let rota of pages" class="pages">
        <a routerLink="{{rota.route}}">
            <div class="path box">
                {{ rota.name }}
            </div>
        </a>
    </div>
</section>